[user]
  email = moritz@anothernode.com
  name = Moritz Reiter
[alias]
  # Core workflow operations
  s = status --short
  amend = commit --amend
  ff = merge --ff-only
  unstage = reset HEAD --

  # to hell with everything (that happened since the last commit)
  nevermind = !git reset --hard HEAD && git clean -d -f

  branches = branch -vv
  tags = tag
  stashes = stash list

  # Searching
  ack = -c color.grep.linenumber=\"bold yellow\" \
      -c color.grep.filename=\"bold green\" \
      -c color.grep.match=\"reverse yellow\" \
      grep --break --heading --line-number

  # Examining history
  history = log --oneline --decorate --graph
  changed-files = log --oneline --decorate --name-only
  patches = log -p
  lines = log -L # <start>,<end>:<file>

  # Ignoring files locally
  ignore-locally = update-index --skip-worktree
  unignore-locally = update-index --no-skip-worktree
  ignored-locally = !git ls-files -v | grep '^S'

  # Cleanup
  cleanup-merged-branches = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"

  quick-checkout = "!YARNHOOK_BYPASS=true git checkout"
[core]
  # Get mad if tabs are used for indentation
  whitespace = tab-in-indent
  excludesFile = ~/.gitignore_global
[push]
  default = simple
[pull]
  ff = only
[diff]
  tool = meld
[merge]
  tool = meld
[include]
  path = ~/.gitconfig_local
[commit]
  verbose = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[hub]
  protocol = ssh
